<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iExplora.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B06AE5E90EE0F9C3B4E73482138DAAECE7EA56E9</string>
				<key>dateExpires</key>
				<string>20/10/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2F9U55FZG7.it.mattiarighetti.iExplora</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2F9U55FZG7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2F9U55FZG7.it.mattiarighetti.iExplora</string>
				</array>
			</dict>
			<key>name</key>
			<string>iExplora.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca6e4604-92ff-4ccd-a866-f60c89026f57</string>
				<key>dateExpires</key>
				<string>20/10/23</string>
				<key>name</key>
				<string>iExplora Distribution Profile 2022</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2F9U55FZG7</string>
				<key>name</key>
				<string>Mattia Righetti</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0</string>
		</dict>
	</array>
</dict>
</plist>
